<h3>Chrome & Opera PoC: rapid history extraction through non-destructive cache timing</h3>

<span style="color: steelblue">
This is a port of my of my <a href="firefox.html">Firefox cache timing script</a>, designed to work
in Chrome and Opera. According to the survey displayed at the end of the test, this port works for
approximately <b>90%</b> of all survey-takers. The use of script-blocking tools, having unusually slow
or unusually fast hardware, or doing computationally expensive work in the background, seem to be the
primary reasons for failure.
<p>
Please refer to the <a href=".">top-level page</a> for more
information about the purpose and the design of this tool.
</span>
<p><span style="color: crimson">
<b>Note:</b> As of December 2011,
I am no longer updating the URLs tested by this script. Since the sites have since moved to new
versions of their CSS and JS scripts, this page won't work. You can view source and manually hit
5-10 of the listed URLs, though.
</span>
<p>

<input id=btn type=submit onclick="start_stuff()" value="Do the thing already!">
<p>
<h5>The sites you have visited in the past day or so are shown in <font color=green>green</font>; <font color=gray>gray</font> indicates
a site <u>not</u> found in your cache:</h5>

<div id=log class=list>...
</div>
<p>
<iframe id=f name=f height=20 width=200 style="opacity: 0.1" src="about:blank"></iframe>
<br>
<div id=status class=status></div>
<p>
<span id="survey" style="display: none;color: steelblue; font-size: 80%">
<span style="color: violet"><b>Let me know if it worked:</b>
<a href="#" onclick="return survey('chrome/yes')">yes</a> |
<a href="#" onclick="return survey('chrome/mostly')">mostly</a> |
<a href="#" onclick="return survey('chrome/no')">not at all</a>. </span>Your feedback helps me improve the tool.
<br>
Not sure about the results? Clear your cache and try visting some of the sites listed, then re-run the test.</span>