<h3>Visited Sites: rapid history extraction through non-destructive cache timing</h3>

<ol>
  <h4>To Test This:</h4>
  <li>Clear browser cache</li>
  <li>Reload this page</li>
  <li>Open a few sites (from AOL, Facebook, Twitter, Yahoo, YouTube)</li>
  <li>Click "Do the thing already!"</li>
</ol>

<ol>
  <h4>If Email Address Already Exists, But You Want to Log In as Different User Anyway:</h4>
  <li>Log into your account that already has same email address</li>
  <li>Click "Edit Profile"</li>
  <li>Click "Cancel My Account"</li>
  <li>Log into the different account you wanted</li>
</ol>

<span style="color: steelblue">
The use of script-blocking tools, having unusually slow or unusually fast hardware, or doing computationally expensive work in the background, seem to be the primary reasons for failure. Please refer to the <a href=".">top-level page</a> for more
information about the purpose and the design of this tool.
</span>
<p><br>

<input id=btn type=submit onclick="start_stuff()" value="Do the thing already!">
<p>
<h5>The sites you have visited in the past day or so are shown in <font color=green>green</font>; <font color=gray>gray</font> indicates
a site <u>not</u> found in your cache:</h5>

<div id=log class=list>...</div>
<p>
  <iframe id=f name=f height=10 width=200 style="opacity: 0.1" src="about:blank"></iframe>
  <div id=status class=status></div>
<p>
